<%- include('./layout/header') %>
<link href="/css/login.css" rel="stylesheet" />

<div class="align-items-center justify-content-center d-flex margin-top-fi">
  <div class="card border-0 w-fit p-4 min-width">
    <div class="card-body">
      <h1 class="semi-bold mb-4">Reset Your Password</h1>

      <% if (error) { %>
        <div class="alert alert-danger" role="alert">
          <%= error %>
        </div>
      <% } %>

      <% if (success) { %>
        <div class="alert alert-success" role="alert">
          <%= success %>
        </div>
      <% } %>

      <p class="mb-3">
        Enter your email address, and we will send you instructions to reset your password.
      </p>

      <form action="/admin/forgot-password" method="POST">
        <div class="form-group mb-3">
          <label for="email">Email Address</label>
          <input
            required
            type="email"
            class="form-control"
            name="email"
            id="email"
            placeholder="Enter your email"
          />
        </div>

        <button type="submit" class="btn btn-primary">Send Reset Instructions</button>
      </form>
    </div>
  </div>
</div>

<%- include('./layout/footer') %>
