<%- include('./layout/header') %>
  <link href="/css/login.css" rel="stylesheet" />

  <!-- <div class="align-items-center justify-content-center d-flex margin-top-fi"> -->
    <!-- <div class="card border-0 w-fit p-4 min-width"> -->
  <h1 class="title headerFont semi-bold">Reset Your Password</h1>
  <div class="feedbackWrap">

    <% if (error) { %>
      <div class="alert alert-danger" role="alert">
        <%= error %>
      </div>
    <% } %>

    <% if (success) { %>
      <div class="alert alert-success" role="alert">
        <%= success %>
      </div>
    <% } %>

    <p class="description">
      Enter your email address, and we will send you instructions to reset your password.
    </p>

    <form action="/admin/forgot-password" method="POST" class="formWrap">
      <input required type="email" class="form-control" name="email" id="email"
        placeholder="Enter your email" />
      <button type="submit" class="btn submitBtn semi-bold hoverable hoverableBtn">Send Instructions</button>
    </form>
  </div>
    <!-- </div> -->
  <!-- </div> -->

  <%- include('./layout/footer') %>